<!-- <script src="https://unpkg.com/bpmn-js@11.1.0/dist/bpmn-viewer.production.min.js"></script>

 <script src="{{ baseurl | relative_url}}/assets/js/bpmn-loader.js"></script> -->

 <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
 <script type="text/javascript" charset="utf8 " src="{{ '/assets/js/jquery.dataTables.js' | relative_url }}"></script>
 <script src="{{ '/assets/js/select2.min.js' | relative_url }}"></script>
 
 <link rel="stylesheet" type="text/css" href="{{ '/assets/css/jquery.dataTables.min.css' | relative_url }}"/> 
 <link rel="stylesheet" type="text/css" href="{{ '/assets/css/select2.min.css' | relative_url }}"/>

 
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

 <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">

